---
layout: nil
title: Socklabs
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
	<head>
		<title>{{ page.title }}</title>
		<meta name="author" content="Nick Gerakines" />
{% include style.html %}
	</head>
	<body class="mt-main-index layout-wt">
		<div id="container">
			<div id="container-inner">
				{% include header.html %}
				{% include navhome.html %}
				<div id="content">
					<div id="content-inner">
						<div id="alpha">
							<div id="alpha-inner">
								{% for post in site.posts limit:1 %}
									<div class="entry-asset asset">
										<div class="asset-header">
											<h2 class="asset-name">
												<a href="http://blog.socklabs.com{{ post.url }}">{{ post.title }}</a>
											</h2>
											<div class="asset-meta">
												<span class="byline">By <a href="http://blog.socklabs.com/">Nick Gerakines</a> on {{ post.date | date_to_string }}</span>
											</div>
										</div>
										<div class="asset-content">
											<div class="asset-body">
												{{ post.content }}
											</div>
										</div>
										<p><a href="http://blog.socklabs.com{{ post.url }}#comments">Comments</a></p>
										<div class="asset-footer"></div>
									</div>
								{% endfor %}
							</div>
						</div>
						<div id="beta">
							<div id="beta-inner">
								<div class="widget-archives widget">
									<h3 class="widget-header">
										Recent Entries
									</h3>
									<div class="widget-content">
										<ul class="widget-list">
{% for post in site.posts limit:5 %}
<li class="widget-list-item">
	<a href="http://blog.socklabs.com{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
										</ul>
									</div>
								</div>
								<div class="widget-comments widget">
                                    <h3 class="widget-header">
                                        Recent Comments
                                    </h3>
                                    <div class="widget-content">
                                        <div id="dsq-recentcomments" class="dsq-widget">
                                            <script type="text/javascript" src="http://disqus.com/forums/socklabs-blog/recent_comments_widget.js?num_items=3&avatar_size=32&excerpt_length=100"></script>
                                        </div>
                                        <p><a href="http://disqus.com">Powered by Disqus</a></p>
                                    </div>
                                </div>
								<div id="github-badge"></div>
							</div>
						</div>
					</div>
				</div>
				{% include footer.html %}
			</div>
		</div>
{% include bodyjs.html %}
</body>
</html>
