<div id="coreContent">
    <div class="post hentry single" id="post-about">
      <div class="postContent">
        <h2 class="entry-title">About</h2>
        <div class="entry-content">
<p>"<i>Nick Gerakines is a certified Erlang badass.</i>" -- <cite><a href="http://github.com/blog/321-github-rebase-12">GitHub Rebase #12</a></cite></p>

<p>I'm an author, software engineer and dad and occasionally I find time to write about life, the internet and anything else that crosses my mind. I'm a native new-orleanian turned californian and have lived on the west coast since the turn of the century. I love to program, write and spend time with my family.</p>

<p>I'm pretty active on the usual social places including <a href="http://github.com/ngerakines">GitHub</a>, <a href="http://del.icio.us/snipersock/">del.icio.us</a>, <a href="http://twitter.com/ngerakines">twitter</a> and  <a href="http://www.facebook.com/ngerakines">Facebook</a>. I prefer <a href="mailto:nick@gerakines.net">email</a> over instant messaging but will also respond to Facebook messages.</p>

<p>I fall into the 'casual gamer' category and can be found playing the World of Warcraft character <a href="http://us.wowarmory.com/character-sheet.xml?r=Lightbringer&cn=Korale">Korale</a>. I've been featured on one of <a href="http://www.wowinsider.com/2009/02/04/15-minutes-of-fame-i-play-wow-for-facebook/">WoW Insider's 15 Minutes of Fame</a> as well as <a href="http://www.wowinsider.com/2008/07/08/i-play-wow-on-facebook/">a few</a> <a href="http://www.wowinsider.com/2009/01/16/i-play-wow-facebook-app-reaches-100-000-users/">others</a> because of this Facebook application that I wrote called <strike>I Play WoW</strike>.</p>
        </div>
      </div>
   </div>
</div>