<div id="coreContent">
  <div id="links" class="single hentry">  
    <div class="postContent">
    <h2 class="entry-title">Archives</h2>
    <div class="entry-content">
<ul>
  <% if archives.length > 0 %>
    <% for entry in archives %>
      <li>
        <a href="<%= entry.path %>"><%= entry.title %></a>
      </li>
    <% end %>
  <% else %>
    There are no articles for this date.
  <% end %>
</ul>
    </div>
    </div>
  </div>

</div>

