<div id="articles">
  <% for article in articles[0...3] %>
    <div class="post">
      <div class="header">
        <h1><a href="<%= article.path %>"><%= article.title %></a></h1>
        <span class="date"><%= article.date %></span>
      </div>
      <div class="content">
        <%= article.summary %>
      </div>
      <div class="more"><a href="<%= article.path %>">read on &raquo;</a></div>
    </div>
  <% end %>
</div>
<h1><a href="/archives">Archives ...</a></h1>
