<div id="coreContent">
<% for article in articles[0...3] %>
<div class="post hentry">
  <!-- <h5 class="postDate"><abbr class="published"><%= article.date %></abbr></h5> -->
  <div class="postContent">
    <h3 class="entry-title"><a href="<%= article.path %>" rel="bookmark"><%= article.title %></a></h3>
    <div class="entry-content">
    <%= article.summary %>
    </div>
  </div>
</div>
<% end %>
</div>
