  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://www.google.com/search?hl=en&q=Nick+Gerakines&btnG=Google+Search" title="google me" rel="alternate" type="application/rss+xml">
          <img src="/images/ngerakines_small.jpg" alt="" align="middle"/>
        </a>
      </p>
    
    </div>
    <div class="contact">
      <strong>Email: </strong> <a href="mailto:nick@gerakines.net">nick@gerakines.net</a><br />
      <strong>Twitter: </strong> <a href="http://twitter.com/ngerakines">twitter.com/ngerakines</a><br />
      <strong>Facebook: </strong> <a href="http://facebook.com/ngerakines">facebook.com/ngerakines</a>
      <strong>Rupture: </strong><a href="http://rupture.com/ngerakines">rupture.com/ngerakines</a> (<a href="http://calendaraboutgaming.com/~ngerakines">CAG</a>)<br />
    </div>
    <div class="contact">
	  <strong>Delicious: </strong><a href="http://delicious.com/snipersock">delicious.com/snipersock</a><br />
      <strong>GitHub: </strong><a href="http://github.com/ngerakines">github.com/ngerakines</a><br />
      <strong>CerlAN: </strong><a href="http://calenderlaboutnothing.com/~ngerakines">.../~ngerakines</a><br />
    </div>
  <div class="twitter">
    <div id="twitter_div">
      &copy; 2001-2009 Nick Gerakines
    </div>
  </div>