<div id="header">
	<div id="header-inner">
		<div id="header-content">
			<h1 id="header-name">
				<a href="http://blog.socklabs.com/" accesskey="1">Socklabs Blog</a>
			</h1>
			<h2 id="header-description">
				<span id="my_twitter_status"></span> (<span id="my_twitter_status_time"></span> via twitter)
			</h2>
		</div>
		<div class="widget-sign-in widget">
			<h3 class="widget-header">
				Subscribe
			</h3>
			<div class="widget-content">
				<a href="http://blog.socklabs.com/atom.xml">Atom</a>
            </div>
		</div>
	</div>
</div>
