								<div class="widget-archives widget">
									<h3 class="widget-header">
										Recent Entries
									</h3>
									<div class="widget-content">
										<ul class="widget-list">
{% for post in site.posts limit:5 %}
<li class="widget-list-item">
	<a href="http://blog.socklabs.com{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
										</ul>
									</div>
								</div>
								<div id="github-badge"></div>
								<script type="text/javascript" charset="utf-8">
//<![CDATA[
								GITHUB_USERNAME="ngerakines";
								GITHUB_LIST_LENGTH=10;
								GITHUB_HEAD="div"; // e.g. change to "h2" for wordpress sidebars
								GITHUB_THEME="white"; // try 'black'
								GITHUB_TITLE = "My projects"
								GITHUB_SHOW_ALL = "Show all"
								//]]>
								</script> <script src="http://drnicjavascript.rubyforge.org/github_badge/dist/github-badge-launcher.js" type="text/javascript">
</script>