<div id="main-navigation">
	<div id="main-navigation-inner">
		<ul>
			<li class="first on"><a href="http://blog.socklabs.com/">Home</a></li>
			<li class=""><a href="http://blog.socklabs.com/archives/">Entries</a></li>
			<li class=""><a href="http://blog.socklabs.com/photos/">Photos</a></li>
			<li class=""><a href="http://blog.socklabs.com/projects/">Projects</a></li>
			<li class="last"><a href="http://blog.socklabs.com/about/">About</a></li>
		</ul>
		<div class="widget-search widget">
			<h3 class="widget-header">Search</h3>
			<div class="widget-content">
			    <form action="http://www.google.com/cse" id="cse-search-box">
                  <div>
                    <input type="hidden" name="cx" value="partner-pub-4763368282156432:mu9msn8jdud" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="text" name="q" size="15" />
                    <input type="submit" id="search-submit" name="sa" value="Search" />
                  </div>
                </form>
                <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
			</div>
		</div>
	</div>
</div>
