<div id="main-navigation">
	<div id="main-navigation-inner">
		<ul>
			<li class="first"><a href="http://blog.socklabs.com/">Home</a></li>
			<li class=""><a href="http://blog.socklabs.com/archives/">Entries</a></li>
			<li class="on"><a href="http://blog.socklabs.com/photos/">Photos</a></li>
			<li class=""><a href="http://blog.socklabs.com/projects/">Projects</a></li>
			<li class="last"><a href="http://blog.socklabs.com/about/">About</a></li>
		</ul>
		<div class="widget-search widget">
			<h3 class="widget-header">Search</h3>
			<div class="widget-content">
				<form id="searchBoxForm_U02930d123f69b248d944" action="http://builder.search.yahoo.com/a/bouncer" style="padding:0;">
					<input name="mobid" value="U02930d123f69b248d944" type="hidden" /> <input name="ei" value="UTF-8" type="hidden" /><input name="fr" value="ystg-c" type="hidden" /><input type="text" id="searchTerm" name="p" /> <input type="submit" id="search-submit" value="Search" />
					<ul style="display:none;">
						<li style="display:inline;padding-right:10px;">
							<input name="mobvs" id="site_U02930d123f69b248d944" value="1" onclick='displayPopSearch("site","U02930d123f69b248d944");' type="hidden" /> <label for="site_U02930d123f69b248d944" style="display:inline;vertical-align:middle; padding-top:2px;">this Site</label>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>
