<div id="sidebar">
	<div class="clear"></div>
	<div id="sidebar_content">
		<h2>Recently</h2>
		{% for post in site.posts limit:5 %}
			<h3 style="padding-top: 10px;"><a alt="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h3>
			<em id="sub_h3">{{ post.date | date_to_long_string }}</em>
		{% endfor %}
		<h2 style="padding-top: 20px;"><a href="/about/">About</a></h2>
		<h2 style="padding-top: 20px;"><a href="/projects/">Projects</a></h2>
		<h2 style="padding-top: 20px;"><a href="/archives/">Archives</a></h2>
	</div>
</div>
