<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="sixapart-standard">
	<head>
		<title>{{ page.title }}</title>
		<meta name="author" content="Nick Gerakines" />
{% include style.html %}
	</head>
	<body class="mt-main-index layout-wt">
		<div id="container">
			<div id="container-inner">
				{% include header.html %}
				{% include naventries.html %}
				<div id="content">
					<div id="content-inner">
						<div id="alpha">
							<div id="alpha-inner">
								<div class="entry-asset asset">
									<div class="asset-header">
										<h2 class="asset-name">{{ page.title }}</h2>
									</div>
									<div class="asset-content">
										<div class="asset-body">
{{ content }}
										</div>
									</div>
									<div class="asset-header">
										<h3 class="asset-name"><a href="#comments">Comments</a></h3>
									</div>
									<div id="disqus_thread"></div> 
									<script type="text/javascript" src="http://disqus.com/forums/socklabs-blog/embed.js"></script> 
									<noscript><a href="http://socklabs-blog.disqus.com/?url=ref">View the discussion thread.</a></noscript> 
									<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a> 
								</div>
							</div>
						</div>
						<div id="beta">
							<div id="beta-inner">
                                <script type="text/javascript" src="http://www.reddit.com/buttonlite.js?i=5"></script>
                                <script src="http://static.delicious.com/js/blogbadge.js"></script>
							</div>
						</div>
					</div>
				</div>
				{% include footer.html %}
			</div>
		</div>
{% include bodyjs.html %}
    <script type="text/javascript">
    //<![CDATA[
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
                if(links[i].href.indexOf('#disqus_thread') >= 0) {
                    query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                }
            }
            document.write('<script type="text/javascript" src="http://disqus.com/forums/socklabs-blog/get_num_replies.js' + query + '"></' + 'script>'); 
        })();
    //]]>
    </script>
</body>
</html>